@tailwind base;
@tailwind components;
@tailwind utilities;
.Input {
    @apply outline-none border border-black rounded-2xl text-black w-full h-12 pl-4;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
::-webkit-scrollbar {
    background: #353b48;
    width: 0px;
}

::-webkit-scrollbar-track {

    border-radius: 10px;
}

::-webkit-scrollbar-thumb {

    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}